extends ../layout

block content

    div #[font(color="white", size="6", face="Impact, Charcoal, sans-serif") Dashboard]
    br
    a(class="btn btn-md btn-warning", id='logout', href="/admins/logout") Logout
    br
    br
    a(class="btn btn-md btn-info", href="/questions/new") Add a question
    br
    br
    if (questions[0])
      font(color="white", size="4px", face="Impact, Charcoal, sans-serif") Click on a question to review results
    else
      font(color="white", size="4px", face="Impact, Charcoal, sans-serif") Click Add Question button to create a question now
    br
    br
    each question in questions
      div(class="question", data-questionid=question.id)
        font(color="white", size="6px", face="Impact, Charcoal, sans-serif") #{question.content}
        each answer in question.Answers
          div(class="answer", data-content=answer.content, data-counter=!answer.counter ? 0 : answer.counter, style="display: none")
        br
        br
        canvas(class="answerChart", id="answerChart"+ question.id, width="400px", height="400px", style="display: none")
        br
        a(class="btn btn-sm btn-danger", id='deleteQuestion', href="/questions/#{question.id}/destroy") Delete this question
      br
      br




