extends layout

block content

  form(class="form-group")
    h1 #{question.content}
    select(name="answer" class="form-control")
      each answer in answers
        option(value="#{answer.id}") #{answer.content}
    br
    button(type="submit", class="btn btn-primary") Submit

  a(class="btn btn-info", href="/admins") Dashboard