extends ../layout

block content

    if error
      h1= error

    a(class="btn btn-md btn-info pull-right", href="/admins") Dashboard
    br
    form(id="question-form", method="post", action="/questions/create")
      font(color="white", size="6px", face="Impact, Charcoal, sans-serif") Add a new question
      br
      br
      input.span3(class="form-control", type="text", name="question", placeholder="What do you want to ask?", required)
      div(id="answer-fields")
        input.span3(class="form-control", type="text", name="answers", placeholder="Option", required)
        input.span3(class="form-control", type="text", name="answers", placeholder="Option", required)
      br
      button(type="#", class="btn btn-lg btn-info", id="add-answer-button") Add Answer
      br
      br
      input.btn(class="btn btn-lg btn-info btn-block", type="submit", value="Create This Question")
