extends ../layout

block content

  form(class="form-group")
    font(color="white", size="6px", face="Impact, Charcoal, sans-serif") #{question.content}
    br
    br
    select(name="answer" class="form-control")
      each answer in answers
        option(value="#{answer.id}") #{answer.content}
    br

  a(class="btn btn-md btn-info", href="/admins") Dashboard