extends ../layout

block content
    if error
      p #[font(color="red") #{error}]
    form(class="signup-form", method="post", action="/admins/create")
      div #[font(color="white", size="6px", face="Impact, Charcoal, sans-serif") Sign up to be an admin!]
      br
      input.span3(class="form-control", type="text", name="email", placeholder="Enter your email", required)
      input.span3(class="form-control", type="password", name="password", placeholder="Password", required)
      input.span3(class="form-control", type="password", name="comfirmedPassword", placeholder="Confirm password", required)
      br
      input.btn(class="btn-lg btn btn-info btn-block", type="submit", value="Sign Up")
      br

    button(class="btn-lg btn btn-info btn-block signup-form", id='signin-button') I have an account already

    form(class="signin-form", method="post", action="/admins/login")
      div #[font(color="white", face="Impact, Charcoal, sans-serif", size="6px") Please sign in]
      br
      input.span3(class="form-control", type="text", name="email", placeholder="Enter your email", required)
      input.span3(class="form-control", type="password", name="password", placeholder="Password", required)
      br
      input.btn(class="btn-lg btn btn-info btn-block", type="submit", value="Log In")
      br

    button(class="btn-lg btn btn-info btn-block signin-form", id='signup-button') Sign Up